
<html>
    <head>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
                               integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
                               crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
                integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
                crossorigin=""></script>

    </head>

    <body>
        <h1>PyMIvn Map</h1>
        <div id="mapid" style="height: 800;"></div>

    <script>
        var latitude = {{ lat | tojson | safe }}
        var longitude = {{ long | tojson | safe }}

        var mymap = L.map('mapid').setView([latitude, longitude], 17);
        // Read here for tutorial https://leafletjs.com/examples/quick-start/
        // you might need to register an access_token
        // this token is taken from leaflet homepage
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'your.mapbox.access.token'
        }).addTo(mymap);
        var marker = L.marker([latitude, longitude]).addTo(mymap);
        marker.bindPopup("<b>Chào em!</b><br>Anh đứng đây từ chiều...").openPopup();

    </script>
    <!-- for GEOJSON look at https://leafletjs.com/examples/geojson/ -->
    </body>
</html>



